# Folders to ignore
build
node_modules

# Files to ignore
/work/0_input/*
/work/1_clean/*
/work/2_lint/*
/work/3_prefix/*
/work/4_pretty/*
/work/5_dist/*
/work/less/*
/work/quick/*

# Folders to include
!/work/0_input/
!/work/1_clean/
!/work/2_lint/
!/work/3_prefix/
!/work/4_pretty/
!/work/5_dist/
!/work/less/
!/work/quick/